{% load static %}
<html>
    <h1>Home Page</h1>
    <a href="{% url 'admin_page' %}">Admin</a>
    <a href="{% url 'signup1'  %}">signup1</a>
    <a href="{% url 'login' %}">login</a>
    <a href="{% url 'advisors_page' %}">advisors_page</a>
    <a href="{% url 'history_lessons' %}">history_lessons</a>
    <a href="{% url 'reserved_lessons' %}">reserved_lessons</a>
    <a href="{% url 'edit_lesson_reservation'  %}">edit_lesson_reservation</a>
    <a href="{% url 'lesson_details' 3 %}">lesson_details</a>
    <a href="{% url 'lesson_reservation' %}">lesson_reservation</a>


</html>